/* https://nyu-lib.monday.com/boards/765008773/pulses/4845899493 */
prm-no-search-result > md-card {
  display: none;
}

prm-logo {
  /* Override `prm-topbar prm-logo` from (Chrome Dev Tools link address):
  https://sandbox02-na.primo.exlibrisgroup.com/discovery/components/search/topbar/_top-bar.scss */
  max-width: 300px !important;
}

.logo-image {
  display: block;
  margin: auto;
  width: 207px;
}

#banner>.md-primoExplore-theme {
  width: 100%;
}

/* Unhide facet checkboxes by default */
.multiselect-facet-group.multiselect-inactive .md-chip md-checkbox {
  transform: none;
  transition: none;
}

/* ***************************************************** */
/* EVERYTHING BELOW app-colors / look and feel overrides */
/* ***************************************************** */

/* search bar background image */
prm-search-bar { 
  background-color: #f5f7fa;
  background-image: url('../assets/img/banner-bg.png');
}

.prm-secondary-color,
prm-search-bookmark-filter .md-button,
prm-topbar .top-nav-bar {
  color: #57068c;
}

/* Advanced and simple search buttons */
.switch-to-simple,
.switch-to-advanced {
  background-color: #57068c !important;
  color: #fff !important;
  font-weight: bold;
  padding: 0 20px;
}

.switch-to-simple:hover,
.switch-to-advanced:hover {
  background-color: #791CB4 !important;
}

/* buttonVoiceSearch */
#voiceSearchButton:hover {
  background-color: #E8F1F8;
  color: #05568a;
}

/* button-confirm (magnifying glass)  */
button.button-confirm {
  background-color: black !important;
  color: white !important;
}

button.button-confirm svg {
  fill: white !important;
}

button.button-confirm:hover {
  background-color: white !important;
  color: black !important;
}

button.button-confirm:hover svg {
  fill: black !important;
}

/* color overrides */
.prm-primary-bg.prm-hue1,
prm-spinner.prm-hue1.overlay-cover.light-on-dark:after,
prm-topbar .top-nav-bar,
prm-search-bar.prm-hue1 {
  background-color: #57068c;
}

.prm-primary-bg.prm-hue2,
prm-spinner.prm-hue2.overlay-cover.light-on-dark:after,
prm-search-bar.prm-hue2,
md-backdrop.md-opaque {
  background-color: #57068c;
}

.prm-primary-bg.prm-hue3,
prm-spinner.prm-hue3.overlay-cover.light-on-dark:after,
prm-search-bar.prm-hue3 {
  background-color: #57068c;
}

.prm-primary-bg.prm-hue3-important,
prm-spinner.prm-hue3-important.overlay-cover.light-on-dark:after,
prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background,
prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background,
prm-search-bar.prm-hue3-important {
  background-color: #57068c !important;
}

.prm-primary-bg.prm-hue4,
prm-spinner.prm-hue4.overlay-cover.light-on-dark:after,
prm-search-bar.prm-hue4 {
  background-color: #57068c;
}
