body {
    background-color: #e9e9e9;
}

md-card {
    background-color: white !important;
}

prm-search-bar {
    color: #3a3a3a;
}

prm-topbar .top-nav-bar {
    background-color: white;
}

prm-topbar span {
    color: #363639;
}

/* Unhide facet checkboxes by default */
.multiselect-facet-group.multiselect-inactive .md-chip md-checkbox {
    transform: none;
    transition: none;
}

/* Remove the underline on hover */
prm-logo .product-logo .organization-logo:hover {
    box-shadow: none !important;
}

a:hover {
    box-shadow: none;
}

.logo-image {
    width: 218px;
}

prm-logo .product-logo {
    cursor: pointer;
    height: 100%;
    padding-left: 0.85em;
}

/* ***************************** */
/* Styles for user dropdown menu */
/* ***************************** */

/* Hide 'My Loans' */
/* Hide 'My Requests' */
.menu-item-indented.my-loans-ctm,
.menu-item-indented.my-requests-ctm {
    display: none !important;
}


/* Setting the order for `Saved Items` and `Search History` in user dropdown menu */
.my-refworks-separator-ctm {
    order: 3;
}

.my-refworks-ctm {
    order: 4;
}


/* ******************************************************* */
/* Styles for search-bar-sub-menu feedback & library hours */
/* ******************************************************* */

.search-wrapper.dark-toolbar.prm-top-bar-container.main-header-row.layout-row {
    padding-bottom: 35px;
}

search-bar-sub-menu div.search-bar-sub-menu {
    background-color: #CCD0D5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 36px;
}

.search-bar-sub-menu a:hover,
.search-bar-sub-menu a:focus,
.search-bar-sub-menu a:active {
    box-shadow: none !important;
    background-color: transparent;
}

search-bar-sub-menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

search-bar-sub-menu ul li {
    display: inline;
    list-style: none;
    padding: 0;
}

search-bar-sub-menu .md-button.md-small {
    font-size: 11.25px;
    min-width: 42px;
    font-weight: bold;
    text-decoration: none;
}

.zero-margin,
prm-more-like-this-item md-card>.md-button,
prm-topbar .md-button:not(.md-icon-button),
prm-user-area .user-menu-button,
prm-virtual-browse-item md-card>.md-button {
    margin: 0 !important;
}

prm-browse-search-bar {
    padding-bottom: 60px;
}

prm-atoz-search-bar {
    padding-bottom: 60px;
}


/* Hide the side menu except for the invisible
  'Prev', 'Close', and 'Next' options for accessibility.*/
prm-full-view .services-index-under button:not(.accessible-close) {
    display: none;
}

#full-view-container>*:first-child {
    display: flex;
    flex-direction: column;
}

/* Reorder FullDisplay sections. */
#searchWithinJournal {
    order: 1;
}

/* "Search inside" */
#getit_link1_0 {
    order: 2;
}

/* "View Online" or "How to get it" */
#getit_link1_1 {
    order: 3;
}

/* "Get It" */
#getit_link2 {
    order: 4;
}

#details {
    order: 5;
}

/* "Details" */
#action_list {
    order: 6;
}

/* "Send to" */
#citationTrails {
    order: 7;
}

/* "Citations" */
#links {
    order: 8;
}

/* "Links" */
#virtualBrowse {
    order: 9;
}

/* "Virtual Browse" */
#tags {
    order: 10;
}

/* https://nyu-lib.monday.com/boards/765008773/pulses/4845899493 */
prm-no-search-result>md-card {
    display: none;
}