.env.test

# ------- .gitignore -------

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/

tests/actual/*
tests/diffs/*

!tests/actual/01NYU_AD-AD/
tests/actual/01NYU_AD-AD/*
!tests/actual/01NYU_AD-AD/.gitkeep
!tests/actual/01NYU_AD-AD_DEV/
tests/actual/01NYU_AD-AD_DEV/*
!tests/actual/01NYU_AD-AD_DEV/.gitkeep

!tests/diffs/01NYU_AD-AD/
tests/diffs/01NYU_AD-AD/*
!tests/diffs/01NYU_AD-AD/.gitkeep
!tests/diffs/01NYU_AD-AD_DEV/
tests/diffs/01NYU_AD-AD_DEV/*
!tests/diffs/01NYU_AD-AD_DEV/.gitkeep

!tests/actual/01NYU_NYHS-NYHS/
tests/actual/01NYU_NYHS-NYHS/*
!tests/actual/01NYU_NYHS-NYHS/.gitkeep
!tests/actual/01NYU_NYHS-NYHS_DEV/
tests/actual/01NYU_NYHS-NYHS_DEV/*
!tests/actual/01NYU_NYHS-NYHS_DEV/.gitkeep

!tests/diffs/01NYU_NYHS-NYHS/
tests/diffs/01NYU_NYHS-NYHS/*
!tests/diffs/01NYU_NYHS-NYHS/.gitkeep
!tests/diffs/01NYU_NYHS-NYHS_DEV/
tests/diffs/01NYU_NYHS-NYHS_DEV/*
!tests/diffs/01NYU_NYHS-NYHS_DEV/.gitkeep

!tests/actual/01NYU_NYSID-NYSID/
tests/actual/01NYU_NYSID-NYSID/*
!tests/actual/01NYU_NYSID-NYSID/.gitkeep
!tests/actual/01NYU_NYSID-NYSID_DEV/
tests/actual/01NYU_NYSID-NYSID_DEV/*
!tests/actual/01NYU_NYSID-NYSID_DEV/.gitkeep

!tests/diffs/01NYU_NYSID-NYSID/
tests/diffs/01NYU_NYSID-NYSID/*
!tests/diffs/01NYU_NYSID-NYSID/.gitkeep
!tests/diffs/01NYU_NYSID-NYSID_DEV/
tests/diffs/01NYU_NYSID-NYSID_DEV/*
!tests/diffs/01NYU_NYSID-NYSID_DEV/.gitkeep

!tests/actual/01NYU_INST-NYU/
tests/actual/01NYU_INST-NYU/*
!tests/actual/01NYU_INST-NYU/.gitkeep
!tests/actual/01NYU_INST-NYU_DEV/
tests/actual/01NYU_INST-NYU_DEV/*
!tests/actual/01NYU_INST-NYU_DEV/.gitkeep
!tests/actual/01NYU_INST-TESTWS01/
tests/actual/01NYU_INST-TESTWS01/*
!tests/actual/01NYU_INST-TESTWS01/.gitkeep

!tests/diffs/01NYU_INST-NYU/
tests/diffs/01NYU_INST-NYU/*
!tests/diffs/01NYU_INST-NYU/.gitkeep
!tests/diffs/01NYU_INST-NYU_DEV/
tests/diffs/01NYU_INST-NYU_DEV/*
!tests/diffs/01NYU_INST-NYU_DEV/.gitkeep
!tests/diffs/01NYU_INST-TESTWS01/
tests/diffs/01NYU_INST-TESTWS01/*
!tests/diffs/01NYU_INST-TESTWS01/.gitkeep

!tests/actual/01NYU_US-SH/
tests/actual/01NYU_US-SH/*
!tests/actual/01NYU_US-SH/.gitkeep
!tests/actual/01NYU_US-SH_DEV/
tests/actual/01NYU_US-SH_DEV/*
!tests/actual/01NYU_US-SH_DEV/.gitkeep

!tests/diffs/01NYU_US-SH/
tests/diffs/01NYU_US-SH/*
!tests/diffs/01NYU_US-SH/.gitkeep
!tests/diffs/01NYU_US-SH_DEV/
tests/diffs/01NYU_US-SH_DEV/*
!tests/diffs/01NYU_US-SH_DEV/.gitkeep

!tests/actual/01NYU_CU-CU/
tests/actual/01NYU_CU-CU/*
!tests/actual/01NYU_CU-CU/.gitkeep
!tests/diffs/01NYU_CU-CU/
tests/diffs/01NYU_CU-CU/*
!tests/diffs/01NYU_CU-CU/.gitkeep

!tests/actual/01NYU_CU-CU_DEV/
tests/actual/01NYU_CU-CU_DEV/*
!tests/actual/01NYU_CU-CU_DEV/.gitkeep
!tests/diffs/01NYU_CU-CU_DEV/
tests/diffs/01NYU_CU-CU_DEV/*
!tests/diffs/01NYU_CU-CU_DEV/.gitkeep
