/*** A11y colors implementation ***/
.prm-positive,
.status-available,
[class*="available"],
[class*="FT"],
.not_restricted,
.ext_not_restricted,
.fulltext_multiple,
.fulltext,
.fulltext_linktorsrc,
.fulltext_newspaper,
.fulltext_linktorsrc_newspaper,
.fulltext_linktorsrc_topic,
.fulltext_topic,
.esploro_status\.not_restricted {
    color: #0F6000;
}

.md-button.arrow-link-button prm-quick-link .button-content span,
prm-quick-link .md-button.arrow-link-button .button-content span,
prm-quick-link a span {
    color: #0F6000;
}

.prm-negative.prm-hue1,
.status-unavailable,
[class*="unavailable"],
[class*="no_"],
.restricted,
.ext_restrictedNoLink,
.ext_restrictedWithLink,
.duedate,
.esploro_status\.embargoed,
.esploro_status\.restricted {
    color: #035488;
}

.prm-open-access {
    color: #b84d00;
}

.prm-peer-reviewed,
.prm-course {
    color: #5E34AF;
}

prm-citation-color.prm-hue2,
prm-citation-trails-item .item-type,
prm-chapters-and-reviews .prm-hue2.item-type {
    color: #57068c;
}

.prm-primary-color.prm-hue2,
.request-form md-input-container label.prm-hue2,
.request-form md-input-container label.prm-hue2:not(.md-no-float):not(._md-container-ignore),
.request-form md-input-container md-select .prm-hue2.md-select-value.md-select-placeholder,
.request-form md-input-container .md-input-container-dummy>.md-select-dummy .prm-hue2.md-select-value.md-select-placeholder,
.request-form md-input-container md-select .prm-hue2._md-select-value._md-select-placeholder,
.request-form md-input-container .md-input-container-dummy>.md-select-dummy .prm-hue2._md-select-value._md-select-placeholder,
.result-item-actions .md-icon-button,
.result-item-actions .prm-hue2.more-options-button,
prm-add-query-to-saved-searches .prm-hue2.custom-button,
prm-pre-filters md-input-container.prm-hue2.is-active,
.md-autocomplete-suggestions .prm-hue2.suggestion-scope,
md-tab-content .tab-content-header md-input-container md-select-value .prm-hue2.md-text,
prm-resource-type-filter-bar md-input-container.prm-hue2.is-active {
    color: #57068c;
}

.md-button {
    color: #1C2127;
}

.md-button:hover:not([disabled]),
.md-button:focus:not([disabled]),
.md-button.hovered:not([disabled]),
.md-button.md-focused:not([disabled]),
.md-button._md-focused:not([disabled]) {
    color: white;
    background-color: #1C2127;
}

/* Unhide facet checkboxes by default */
.multiselect-facet-group.multiselect-inactive .md-chip md-checkbox {
    transform: none;
    transition: none;
}

/* Enlarge top bar to resize the NYSID logo so it's readable */
prm-topbar {
    height: 150px;
    border-bottom: 10px solid #ce3438;
}

prm-topbar .top-nav-bar {
    background-color: white;
}

prm-topbar div.product-logo {
    background-color: #ce3438;
}

prm-topbar .md-button {
    color: #22272d !important;
}


/* Remove the underline on hover */
prm-logo .product-logo .organization-logo:hover {
    box-shadow: none !important;
}

/* Align the logo horizontally and vertically */
prm-logo .product-logo .organization-logo {
    display: flex;
}


/* Hide 'block+messages', 'personal details' */
prm-account-overview md-tab-item [translate="nui.blocks.header"],
prm-account-overview md-tab-item [translate="nui.details.header"] {
    display: none !important;
}

prm-messages-and-blocks,
prm-personal-info {
    display: none !important;
}

prm-messages-and-blocks-overview {
    display: none !important;
}

/* ***************************************** */
/* Styles for browse search & journal search */
/* ***************************************** */


.prm-alert-bg,
.bar.alert-bar,
.classic-input .search-scope {
    background-color: rgba(255, 255, 255, 1) !important;
}

.prm-alert-border,
.bar.alert-bar,
.classic-input .search-scope {
    border-color: rgba(255, 255, 255, 1) !important;
}

prm-autocomplete input {
    font-size: 1.3em !important;
}

prm-browse-search-bar {
    padding-bottom: 60px;
    background-image: url("../assets/img/banner-bg.png") !important;
    background-color: rgba(255, 255, 255, 1) !important;
    /* This will act as a fallback */
}

/* Styles for clear button */
prm-browse-search-bar .clear-button.is-visible {
    right: 62px !important;
}

button.md-button.md-icon-button.clear-button.md-primoExplore-theme.md-ink-ripple.is-visible {
    padding: 0 !important;
    margin: 15px 5px !important;
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    min-height: 30px !important;
}

md-icon.md-primoExplore-theme {
    display: inline-block !important;
    height: 21.6px;
    width: 21.6px;
    min-height: 21.6px;
    min-width: 21.6px;
}

prm-browse-search-bar .clear-button.is-visible:hover,
prm-browse-search-bar .clear-button.is-visible:focus {
    color: #fff;
    background-color: #3a3a3a;
}

prm-atoz-search-bar {
    padding-bottom: 60px;
    background-image: url("../assets/img/banner-bg.png") !important;
    background-color: rgba(255, 255, 255, 1) !important;
    /* This will act as a fallback */
}

@media (max-width: 959px) {

    prm-browse-search-bar,
    prm-atoz-search-bar {
        padding-bottom: 3.8em !important;
    }
}

@media (max-width: 600px) {

    prm-browse-search-bar,
    prm-atoz-search-bar {
        padding-top: 1.2em !important;
    }
}


/* ***************************** */
/* Styles for user dropdown menu */
/* ***************************** */

/* Hide 'My Loans' */
/* Hide 'My Requests' */
.menu-item-indented.my-loans-ctm,
.menu-item-indented.my-requests-ctm {
    display: none !important;
}


/* Setting the order for `Saved Items` and `Search History` in user dropdown menu */
.my-refworks-separator-ctm {
    order: 3;
}

.my-refworks-ctm {
    order: 4;
}


/* ******************************************************* */
/* Styles for search-bar-sub-menu feedback & library hours */
/* ******************************************************* */

.search-wrapper.dark-toolbar.prm-top-bar-container.main-header-row.layout-row {
    padding-bottom: 35px;
}

search-bar-sub-menu div.search-bar-sub-menu {
    background-color: #CCD0D5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 36px;
}

.search-bar-sub-menu a:hover,
.search-bar-sub-menu a:focus,
.search-bar-sub-menu a:active {
    box-shadow: none !important;
    background-color: transparent;
}

search-bar-sub-menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

search-bar-sub-menu ul li {
    display: inline;
    list-style: none;
    padding: 0;
}

search-bar-sub-menu .md-button.md-small {
    font-size: 11.25px;
    min-width: 42px;
    font-weight: bold;
    text-decoration: none;
}

.zero-margin,
prm-more-like-this-item md-card>.md-button,
prm-topbar .md-button:not(.md-icon-button),
prm-user-area .user-menu-button,
prm-virtual-browse-item md-card>.md-button {
    margin: 0 !important;
}

/* General styles for md-button */
.md-button {
    color: #333;
    text-decoration: none;
}

/* Styles for buttons with icons */
.md-button.button-with-icon>prm-icon {
    display: inline-block;
}

.md-button.button-with-icon>prm-icon md-icon {
    position: relative;
    top: -2px;
}

.md-button.button-with-icon>prm-icon+span {
    display: inline-block;
    margin-left: 3px;
    padding-right: 0.5em;
}

.md-button:hover:not([disabled]),
.md-button:focus:not([disabled]),
.md-button.hovered:not([disabled]),
.md-button.md-focused:not([disabled]),
.md-button._md-focused:not([disabled]) {
    color: #1d1616;
    background-color: rgba(51, 51, 51, 0.1);
}

button:focus,
a:focus,
a:focus-visible,
.md-primoExplore-theme:focus {
    box-shadow: inset 0 0 0 2px #3dbbdb !important;
}



/* <------feedback & library hours--------> */


/* https://nyu-lib.monday.com/boards/765008773/pulses/4845899493 */
prm-no-search-result>md-card {
    display: none;
}

.logo-image {
    display: block;
    margin: auto;
    width: 120px;
    height: 120px;
}

#banner>.md-primoExplore-theme {
    width: 100%;
}

/* Unhide facet checkboxes by default */
.multiselect-facet-group.multiselect-inactive .md-chip md-checkbox {
    transform: none;
    transition: none;
}

/* bold headers on landing page */
.md-subhead {
    font-weight: 600;
    margin: 1em .25em auto auto;
}

/* Hide the side menu except for the invisible
  'Prev', 'Close', and 'Next' options for accessibility.*/
prm-full-view .services-index-under button:not(.accessible-close) {
    display: none;
}

#full-view-container>*:first-child {
    display: flex;
    flex-direction: column;
}

/* Reorder FullDisplay sections. */
#searchWithinJournal {
    order: 1;
}

/* "Search inside" */
#getit_link1_0 {
    order: 2;
}

/* "View Online" or "How to get it" */
#getit_link1_1 {
    order: 3;
}

/* "Get It" */
#getit_link2 {
    order: 4;
}

#details {
    order: 5;
}

/* "Details" */
#action_list {
    order: 6;
}

/* "Send to" */
#citationTrails {
    order: 7;
}

/* "Citations" */
#links {
    order: 8;
}

/* "Links" */
#virtualBrowse {
    order: 9;
}

/* "Virtual Browse" */
#tags {
    order: 10;
}

/* ***************************************************** */
/* EVERYTHING BELOW app-colors / look and feel overrides */
/* ***************************************************** */

/* search bar */

prm-search-bar,
prm-tags-search-bar,
prm-browse-search-bar {
    background-image: none;
    background-color: #f5f7fa;
}



/* Advanced and simple search buttons */

prm-search-bar .search-switch-buttons .md-button.switch-to-advanced {
    background-color: none !important;
    color: black;
    padding: 0 20px;
}

.switch-to-simple:hover,
.switch-to-advanced:hover {
    color: #53738c;
    background-color: #fff;
}


/* buttonVoiceSearch */
#voiceSearchButton:hover {
    background-color: #E8F1F8;
    color: #05568a;
}

.large-icon md-icon {
    height: 34px;
    width: 34px;
}

/* button-confirm (magnifying glass)  */
button.button-confirm {
    background-color: black !important;
    color: white !important;
}

button.button-confirm svg {
    fill: white !important;
}

button.button-confirm:hover {
    background-color: white !important;
    color: black !important;
}

button.button-confirm:hover svg {
    fill: black !important;
}

/* Hide brief result snippets */
div.result-item-text.layout-fill.layout-column.flex>prm-snippet {
    display: none !important;
}