body {
    background-color: #e9e9e9;
}

md-card {
    background-color: white !important;
}

prm-search-bar {
    color: #3a3a3a;
}

prm-topbar .top-nav-bar {
    background-color: white;
}

prm-topbar span {
    color: #363639;
}

/* Unhide facet checkboxes by default */
.multiselect-facet-group.multiselect-inactive .md-chip md-checkbox {
    transform: none;
    transition: none;
}

/* Remove the underline on hover */
prm-logo .product-logo .organization-logo:hover {
    box-shadow: none !important;
}

a:hover {
    box-shadow: none;
}

.logo-image {
    width: 218px;
}

.product-logo {
    padding: 0 0 0 0.85em !important;
}


/* ***************************** */
/* Styles for user dropdown menu */
/* ***************************** */

/* Hide 'My Loans' */
/* Hide 'My Requests' */
.menu-item-indented.my-loans-ctm,
.menu-item-indented.my-requests-ctm {
    display: none !important;
}


/* Setting the order for `Saved Items` and `Search History` in user dropdown menu */
.my-refworks-separator-ctm {
    order: 3;
}

.my-refworks-ctm {
    order: 4;
}



/* Hide the side menu except for the invisible
  'Prev', 'Close', and 'Next' options for accessibility.*/
prm-full-view .services-index-under button:not(.accessible-close) {
    display: none;
}

#full-view-container>*:first-child {
    display: flex;
    flex-direction: column;
}

/* Reorder FullDisplay sections. */
#searchWithinJournal {
    order: 1;
}

/* "Search inside" */
#getit_link1_0 {
    order: 2;
}

/* "View Online" or "How to get it" */
#getit_link1_1 {
    order: 3;
}

/* "Get It" */
#getit_link2 {
    order: 4;
}

#details {
    order: 5;
}

/* "Details" */
#action_list {
    order: 6;
}

/* "Send to" */
#citationTrails {
    order: 7;
}

/* "Citations" */
#links {
    order: 8;
}

/* "Links" */
#virtualBrowse {
    order: 9;
}

/* "Virtual Browse" */
#tags {
    order: 10;
}

/* https://nyu-lib.monday.com/boards/765008773/pulses/4845899493 */
prm-no-search-result>md-card {
    display: none;
}